<% if signed_in? %>
  <div class="row">
    <aside class="span5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
      	<h3><%= t("activities.title") %></h3>
      	<%= render 'shared/calendar' %>
	  </section>
    </aside>
	<span class="span4">
		<h3><%= t("home.feed") %></h3>
	    <%= render 'shared/feed' %>
	</span>
	
	<span class="span3">
	    <%= render 'shared/notifies' %>	
	</span>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1><%= title %></h1>

    <h2>
      Error
    </h2>

    <%= link_to "Sign in now!", signin_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>